@font-face {
  font-family: 'Mermaid';
  src: url('./assets/fonts/Mermaid.ttf') format('truetype');
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Mermaid', sans-serif;
}

body {
  box-sizing: border-box;
}

.bg-default {
  background: rgba(245, 236, 235, 1);
}

.border-input-default {
  border-bottom: solid 1px #CE4563;
}
.border-colections-default {
  border: solid 2px #CE4563;
}

.placeholder-default::-webkit-input-placeholder {
  color: #CE4563;
}

.placeholder-default::-moz-placeholder {
  color: #CE4563;
}

.fa-solid,
.fa-regular,
.text-default {
  color: #CE4563
}

.bg-emphasis{
  background-color: #F4DAD9;
}

.bg-segundary{
  background-color: #B0C489;
}